.product{
    margin-left: 30%;
}

.productBox{
    padding: 7px;
    display: block;
    border: 1px solid skyblue;
    width:  300px;
    margin: 20px;
}

.productButton{
    margin: 20px;
    width: 150px;
    padding: 10px;
    background-color: skyblue;
    border: solid 1px;
    cursor: pointer;
}